body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffeebb;
}

h1 {
  font-size: 75pt;
  text-shadow: -5px 10px 15px #000;
}

h2 {
  font-size: 30pt;
}

#sizePicker {
  font-size: 15pt;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

#submit {
  height: 30px;
  line-height: normal;
  box-shadow: -3px 3px 5px #000;
}

#submit:hover {
  box-shadow: none;
}

#pixelCanvas {
  border: 10px ridge #000;
  border-spacing: 0;
  background-color: #fff;
  box-shadow: -5px 7px 10px #000;
}

#inputHeight, #inputWidth {
  width: 50px;
}

#prompt {
  font-size: 20px;
  padding: 10px;
  background-color: #fff;
}

.pixelCell {
  border: 1px solid #c9c9c9;
  height: 20px;
  width: 20px;
}