body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sizePicker {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

#pixelCanvas {
  border: 1px solid #000;
  border-spacing: 0;
}

.pixelCell {
  border: 1px solid #000;
  height: 30px;
  width: 30px;
}