body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sizePicker {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}